$orange: #F29D2C;
$yellow: #FFC127;
$warmRed: #EF548F;
$purple: #7D4896;
$aqua: #27CED6;
$grey: #A0A0A0;
$lightGrey: #DBDBDB;
$white: #F7F9FF;
$offWhite: rgb(241, 244, 252);
$lightRed: #fecdad;
$black: #232222;